<div>
    <button class="btn-cancel" data-action="cancel" type="button"><span>{{ Cancel }}</span></button>
    <button class="btn-confirm" data-action="confirm" type="button"><span>{{ OK }}</span></button>
</div>